.v-theme--light {
  --v-theme-background: rgba(var(--v-theme-background), 0.5);
  --v-theme-primary: rgba(var(--v-theme-primary), 0.5);
  --v-theme-secondary: rgba(var(--v-theme-secondary), 0.5);
  --v-theme-error: rgba(var(--v-theme-error), 0.5);
  --v-theme-info: rgba(var(--v-theme-info), 0.5);
  --v-theme-success: rgba(var(--v-theme-success), 0.5);
  --v-theme-warning: rgba(var(--v-theme-warning), 0.5);
  --v-theme-foreground: rgba(var(--v-theme-foreground), 0.5);
  --v-theme-light: rgba(var(--v-theme-light), 0.5);
  --v-theme-dark: rgba(var(--v-theme-dark), 0.5);
  --v-theme-red: rgba(var(--v-theme-red), 0.5);
  --v-theme-pink: rgba(var(--v-theme-pink), 0.5);
  --v-theme-purple: rgba(var(--v-theme-purple), 0.5);
  --v-theme-deep-purple: rgba(var(--v-theme-deep-purple), 0.5);
  --v-theme-indigo: rgba(var(--v-theme-indigo), 0.5);
  --v-theme-blue: rgba(var(--v-theme-blue), 0.5);
  --v-theme-light-blue: rgba(var(--v-theme-light-blue), 0.5);
  --v-theme-cyan: rgba(var(--v-theme-cyan), 0.5);
  --v-theme-teal: rgba(var(--v-theme-teal), 0.5);
  --v-theme-green: rgba(var(--v-theme-green), 0.5);
  --v-theme-light-green: rgba(var(--v-theme-light-green), 0.5);
  --v-theme-lime: rgba(var(--v-theme-lime), 0.5);
  --v-theme-yellow: rgba(var(--v-theme-yellow), 0.5);
  --v-theme-amber: rgba(var(--v-theme-amber), 0.5);
  --v-theme-orange: rgba(var(--v-theme-orange), 0.5);
  --v-theme-deep-orange: rgba(var(--v-theme-deep-orange), 0.5);
  --v-theme-brown: rgba(var(--v-theme-brown), 0.5);
  --v-theme-gray: rgba(var(--v-theme-gray), 0.5);
  --v-theme-blue-gray: rgba(var(--v-theme-blue-gray), 0.5);
}
