@use 'sass:color';
@font-face {
  font-family: 'Gilroy';
  /* src: url('/fonts/Gilroy-Bold.woff') format('woff'); */
  src: url('../../public/fonts/gilroy/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/gilroy/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Objetive';
  src: url('../../public/fonts/objetive/Objective-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Objetive';
  src: url('../../public/fonts/objetive/Objective-ExtraBold.otf') format('otf');
  font-weight: 900;
  font-style: normal;
}
$font-family-sans-serif:
  'Objetive',
  'Gilroy',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji' !default;

body {
  font-family: $font-family-sans-serif !important;
  //   color: darken(#0a1117, 0.5);
  //   color: lighten(#f5eeea, 0.5);
}

