$overflow-values: ('auto', 'hidden', 'visible', 'scroll');

// Bucles para overflow general
@each $value in $overflow-values {
  .overflow#{$value} {
    overflow: #{$value} !important;
  }
}

// Bucles para overflow-x
@each $value in $overflow-values {
  .overflow-x#{$value} {
    overflow-x: #{$value} !important;
  }
}

// Bucles para overflow-y
@each $value in $overflow-values {
  .overflow-y#{$value} {
    overflow-y: #{$value} !important;
  }
}
