@use 'sass:math';

@use './variables' as *;
@use './breakpoints' as *;

@function callPercentage($value) {
  @return math.percentage(math.div($value, 100));
}
$special-sizes: (25, 50, 75, 100);

// Clases específicas para valores auto y fit
.min-h-auto {
  min-height: auto !important;
}
.min-h-fit {
  min-height: fit-content !important;
}
.max-h-auto {
  max-height: auto !important;
}
.max-h-fit {
  max-height: fit-content !important;
}
.min-w-auto {
  min-width: auto !important;
}
.min-w-fit {
  min-width: fit-content !important;
}
.max-w-auto {
  max-width: auto !important;
}
.max-w-fit {
  max-width: fit-content !important;
}

// Generación dinámica de clases responsivas
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    @for $size from 0 through 100 {
      @if $size % 2 == 0 or $size % 5 == 0 {
        $percentage: callPercentage($size);
        .h#{$infix}-#{$size} {
          height: $percentage !important;
        }
        .w#{$infix}-#{$size} {
          width: $percentage !important;
        }
        @if index($special-sizes, $size) {
          .max-h#{$infix}-#{$size} {
            max-height: $percentage !important;
          }
          .max-w#{$infix}-#{$size} {
            max-width: $percentage !important;
          }
          .min-h#{$infix}-#{$size} {
            min-height: $percentage !important;
          }
          .min-w#{$infix}-#{$size} {
            min-width: $percentage !important;
          }
        }
      }
    }
  }
}
